<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChV07OsvclVZc0p0CC1kDCRA2g7Gvi3E0"
  type="text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
